@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@import 'variables';
@import 'loader';
@import 'menu';
@import 'gameUI';

html {
    font-size: $root-font-size;
    font-family: $font-family;
    max-width: $page-width;
}

* {
    font-family: fantasy !important;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas:focus {
    outline: none;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    & h1 {
        margin: 0;
    }
}

#logo-wrapper {
    display: flex;

    & img {
        display: block;
        height: 100px;
    }
}

p {
    font-size: $paragraph-font-size;
}

.pointerEventNone {
    pointer-events: none;
}

.userSelectNone {
    user-select: none;
}